.mainbody {
  @include span-columns(10);
  @include shift(1);
  @include margin(2rem null 2rem null);
  height: 100%;
  margin-bottom: 15vh;
  min-height: 80vh;

  p {
    clear: left;
  }

  h1 {
    @include margin(.5rem null);
    font-size: $base-font-size * 1.5;
  }

  blockquote {
    border-left: 5px solid $divider-color;
    color: text-color(dark, secondary);
    font-style: italic;
    padding-left: .5rem;
  }

  ul:not(.tags) {
    @include margin(1rem null);

    li:not(.article-list-item):not(.post-meta li) {
      padding-left: 1rem;

      &::before {
        @extend .fa;
        color: text-color(dark, icon);
        content: ('\f0da');
        padding-right: .25rem;
      }
    }
  }

  .post-meta {
    @include margin(0 null 1rem null);
    border-bottom: 1px solid $divider-color;
    display: inline-block;
    font-size: $base-font-size * .9;

    * {
      display: inline-block;
    }

    li {
        @include padding(null .25rem);
        color: text-color(dark, secondary);
        padding: 0;

        &::before {
          content: ('•');
          padding-right: .25rem;
        }

        &:first-child::before {
          content: ('');
        }
    }

    .readtime-title.fa { color: text-color(dark, icon); }
  }

  .post-footer {
    border-top: 1px solid $divider-color;
    padding-top: 1rem;
  }

  .comments {
    margin-top: 1rem;

    .twitter-share {
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}

.article-list-item {
  img {
    border-radius: 100%;
  }

  h2 {
    display: inline-block;
  }
}
