.site-footer {
  @include outer-container;
  background-color: $primary-alternate2-color;
  box-shadow: 0 -.25rem .33rem rgba(0, 0, 0, .26);
  clear: both;
  color: text-color(light);
  max-width: none;
  padding-top: 2rem;

  a {
    color: $action-alternate-color;
  }
}

aside {
  margin-bottom: 1.5rem;

  &.recentposts {
    @include span-columns(6);
    @include shift(.5);
    @include media('<medium') {
      @include shift(1);
      @include omega;
      clear: both;
    };

    h3 {
      font-size: $base-font-size * .9;
    }

    .post-meta li {
      display: inline-block;
      font-size: $base-font-size * .7;
      padding: 0;

      &::before {
        content: ('•');
        padding-right: .25rem;
      }

      &:first-child::before {
        content: ('');
      }
    }

    .readmore {
      font-size: $base-font-size * .8;
    }
  }

  &.blogroll {
    @include span-columns(5);
    @include media('<medium') {
      @include shift(1);
      @include omega;
      clear: both;
    };

    .subtitle {
      &::before { content: ' - '; }
      @include media('<large') { font-size: $base-font-size * .8; }
      @include media('<medium') { display: none; }
      font-size: $base-font-size * .9;
    }
  }
}

.site-info {
  @include span-columns(9.25);
  @include shift(.5);
  @include media('<large') { font-size: $base-font-size * .6; }
  font-size: $base-font-size * .7;
}

.license {
  &::before { content: '• '; }
  @include media('<medium') {
    &::before { content: ''; }
    display: block;
  }

  @include media('<large') { font-size: $base-font-size * .6; }
  font-size: $base-font-size * .7;
}
