.site-header {
  @include outer-container(100%);
  background-color: $primary-color;
  background-image: url(asset_path('wasteland-header.jpg'));
  background-size: cover;
  box-shadow: 0 .25rem .33rem rgba(0, 0, 0, .26);
  color: text-color(light);
  padding-bottom: .5rem;

  * {
    margin-bottom: 0;
  }

  .headers {
    @include span-columns (11);
    @include media('<large') { @include span-columns (10.5); }

    * {
      display: inline-block;
    }
  }

  .site-title {
    font-size: $base-font-size * 2;
    @include media('<large') { font-size: $base-font-size * 1.5; }

    a {
      color: inherit;
    }
  }

  .site-subtitle {
    @include media('<x-large') { font-size: $base-font-size; }
    @include media('<medium') { display: none; }
    @include margin(1rem null null 1.5rem);
    color: text-color(light, secondary);
    font-size: $base-font-size * 1.5;
    font-style: italic;
    font-weight: normal;
  }
}
